header
    {
      width: 100%;
      height: 20px;
      padding: 10px;
      font-family:fantasy;
      font-style:oblique;
      background: url(../imgs/coloreschampions.jpg)no-repeat center; 
      background-size: cover;
    }
  .header .navbar{
      
      background-color: transparent !important;
      background-size: cover;
      color: white;
      text-align: center;
      font-family:fantasy;
      
    } 

  .content-box 
    {
      box-sizing: content-box;
    }
  h1
    {
      color: white;
      text-align: center;
      font-family:fantasy;
      font-style:oblique;
     padding: 20px 35px 8px 20px;
     
    }
#Nombre
{

  color: white;
  font-family:fantasy;
  font-style:oblique;
}
.main1
{

  /* background-image: url(../imgs/fondo2.jpg) ; */
  background-image: url(../imgs/coloreschampions.jpg);
}
aside
{ 
   background-image: url(../imgs/fallback.webp);
   /* background: rgb(68, 37, 245);  */
  color:rgb(253, 253, 253);
}
body 
{
  background-image: url(../imgs/coloreschampions.jpg); 
  /*background-color:rgb(71, 24, 114);*/
  color: white;
}
th
{
  border: rgb(58, 0, 124) solid;
}
td
{
border: rgba(58, 0, 151, 0.801) solid;
}
/* footer
{
  background-image: url(../imgs/fondo2.jpg);
  color: blue;
} */
.container 
{
  margin-top: 3%;
  
}


#btn-mas{
  display: none;
}
.container2{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.redes a, .btn-mas label{
  display: block;
  text-decoration: none;
  background: #3e00cf;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}
.redes a:hover{
  background: #fff;
  color: #3e00cf;
}
.redes a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked~ .redes a{
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label{
  cursor: pointer;
  background: #3e00cf;
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
  transform: rotate(135deg);
  font-size: 25px;
}

.inner{
  overflow: hidden;
}
.inner img{
  transition: all 2s ease;
}
.inner:hover img{
  transform: scale(1.3);
  cursor: pointer;
}


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  color: white;
  font-family:fantasy;
  font-style:oblique;
  font-weight: bolder;
  position: absolute;
  top: 470px;
  right: 10px;
}














